<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/simple-material-table/simple-material-table.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">1</div>
      <h1>View One</h1>

      <simple-material-table id="demo" title="Test Table" columns="[[columns]]" table-data="[[_tableData]]" on-row-selected="_onRowSelected"
        on-action-add="_onActionAdd" on-action-edit="_onActionEdit" on-action-delete="_onActionDelete" show-action-add show-action-edit
        show-action-delete>
      </simple-material-table>
    </div>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }

      _onRowSelected(data) {
        console.log('_onRowSelected', data);
      }
      _onActionAdd() {
        console.log('_onActionAdd');
        this.push('_tableData', {
          sensor: 'X',
          value: this._tableData.length,
          rawValue: this._tableData.length
        });

        //el canal no se crea si no hay un subscriptor escuchando.
        let subscriber = PubSub.subscribe("test").on(value => console.log(value))
        PubSub.publish("test", "hola");
      }
      _onActionEdit(data) {
        console.log('_onActionEdit', data);
      }
      _onActionDelete(data) {
        console.log('_onActionDelete', data);
      }

      constructor() {
        super();
        this.columns = [{
          title: "Sensor",
          number: false,
          column: 'sensor',
          hidden: false
        }, {
          title: "Value",
          number: true,
          column: 'value',
          formatter: function (value) {
            return parseFloat(value).toFixed(2);
          },
          hidden: false
        }, {
          title: "Raw Value",
          number: true,
          column: 'rawValue',
          formatter: function (value) {
            return parseFloat(value).toFixed(0);
          },
          hidden: true
        },];
        this._tableData = [{
          "sensor": "T",
          "value": 3.437,
          "rawValue": "3437"
        }, {
          "sensor": "H",
          "value": 86.5,
          "rawValue": "8650"
        }, {
          "sensor": "V",
          "value": 3.309,
          "rawValue": "3309"
        }, {
          "sensor": "B",
          "value": 1020.26,
          "rawValue": "102026"
        }, {
          "sensor": "L",
          "value": 2,
          "rawValue": "2"
        }, {
          "sensor": "R",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "S",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "G",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "A",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "T",
          "value": 3.437,
          "rawValue": "3437"
        }, {
          "sensor": "H",
          "value": 86.9,
          "rawValue": "8690"
        }, {
          "sensor": "V",
          "value": 3.309,
          "rawValue": "3309"
        }, {
          "sensor": "B",
          "value": 1020.18,
          "rawValue": "102018"
        }, {
          "sensor": "L",
          "value": 2,
          "rawValue": "2"
        }, {
          "sensor": "R",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "S",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "G",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "A",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "T",
          "value": 3.5,
          "rawValue": "3500"
        }, {
          "sensor": "H",
          "value": 86.4,
          "rawValue": "8640"
        }, {
          "sensor": "V",
          "value": 3.309,
          "rawValue": "3309"
        }, {
          "sensor": "B",
          "value": 1020.21,
          "rawValue": "102021"
        }, {
          "sensor": "L",
          "value": 2,
          "rawValue": "2"
        }, {
          "sensor": "R",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "S",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "G",
          "value": 0,
          "rawValue": "0"
        }, {
          "sensor": "A",
          "value": 0,
          "rawValue": "0"
        }];


        window.setInterval(function () {

          for (var i = 0; i < this._tableData.length; i++) {
            this.set(['_tableData', i, 'value'], this._tableData[i].value + 0.10);
          }

        }.bind(this), 1000);

      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
